.container {
  max-width: 930px;
}

.Mobile-image {
  width: 100%;
  margin-top: 40px;
}

.Desktop-product-image-block {
  position: fixed;
  vertical-align: middle;
  visibility: hidden;
  display: none;
  left: 50%;
  z-index: 3;
}

.Image-loader {
  visibility: hidden;
  display: none;
}

.col-md-6 h1 {
  font-size: 48px;
  line-height: 46px;
  font-weight: 900;
  color: #003354;
  margin-top: 150px;
  margin-bottom: 40px;
}

.col-md-6 p {
  font-size: 18px;
  font-weight: 300;
  color: #003354;
}

.col-md-6 h4 {
  font-size: 38px;
  font-weight: bold;
  color: #003354;
  letter-spacing: -1.5px;
  font-kerning: normal;
}

.col-md-6 li {
  font-size: 18px;
  font-weight: 300;
  color: #003354;
  list-style-type: none;
}

.Number-icon {
  padding-top: 40px;
}

.content-footer {
  margin-top: 120px;
  margin-bottom: 90px;
}

/*Email footer*/

.signup-footer {
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  border: none;
}

.footer-email {
  background-color: white;
  height: 80px;
  padding-top: 20px;
}

.form-control.signup-email-input, .form-control.signup-email-input:focus {
  display: table-cell;
  background-color: #EDEAEA;
  color: #A9A9A9;
  border: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  z-index: 2;
  box-shadow: none;
}

.btn.btn-default.signup-email-button {
  background-color: #0085CF;
  background: linear-gradient(to top right, #0085CF, #00E0F2);
  color: white;
  border: none;
  border-radius: 40px;
  margin-left: -20px;
}

.signup-email-divider {
  background-color: #DADADA;
  width: 100%;
  height: 1px;
}

/*Header Style*/

.header-logo {
  position: fixed;
  margin: 0px;
  top: 0px;
  border: none;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 2;
}

.header-image-Mobile {
  margin-top: 30px;
}

.header-image-Desktop {
  margin-top: 20px;
}
